/* Top navbar styling */
ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #005151;
  font-size: x-large;
  font-family: 'Work Sans', 'Courier New', Courier, monospace;
}

ul.topnav li {float: left;}

ul.topnav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.topnav li a:hover:not(.active) {background-color: #111;}

ul.topnav li a.active {background-color: #37BE64;}

ul.topnav li.right {float: right;}

@media screen and (max-width: 600px) {
  ul.topnav li.right, 
  ul.topnav li {float: none;}
}


h1 {
  font-family: 'Work Sans', 'Courier New', Courier, monospace;
}

.grid-container{
  background-color: transparent;
  padding-top: 0.5%;
  grid-gap: 10px;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: max-content;
  align-content:center;
  font-family: "Work Sans", sans-serif;
}

.grid-container > div {
  background-color: whitesmoke;
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

.item1{
  grid-column-start: 1;
  grid-column-end: 4;
}

body {
  margin: 0;
}