ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #005151;
  font-size: x-large;
  font-family: 'Work Sans', 'Courier New', Courier, monospace;
  margin: 0;
  position: sticky;
  top: 0;
  z-index: 2;
}

ul.topnav li {float: left;}

ul.topnav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.topnav li a:hover:not(.active) {background-color: #111;}

ul.topnav li a.active {background-color: #37BE64;}

ul.topnav li.right {float: right;}

@media screen and (max-width: 600px) {
  ul.topnav li.right, 
  ul.topnav li {float: none;}
}

body {
    font-family: 'Work Sans', 'Courier New', Courier, monospace;
    margin: 0;
}

.p1{
    text-align: center;
}

.grid-container{
  background-color: transparent;
  grid-gap: 10px;
  padding: 10px;
  display: grid;
  align-content: center;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  
}

.grid-container > div {
  background-color: whitesmoke;
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

.item1{
  grid-column:  1/4;
}

.item2 {
  grid-column: 1/4 ;
  font-family: 'Work Sans', 'Courier New', Courier, monospace;
}



.grid-container .card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.grid-container.title {
  color: grey;
  font-size: 18px;
}

.grid-container button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.grid-container a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

.grid-container button:hover, a:hover {
  opacity: 0.7;
}
