.navbar {
  margin: auto;
  padding: 0;
}

.parallax {
  /* The image used */
  background-image: url("/Images/davies-designs-studio-_UCVrH-ZIIg-unsplash.jpg");

  /* Set a specific height */
  min-height: 100vh; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
}

.layer-1 {
  background-color: #f9d1d4;
  background-size: cover;
  height: 110vh;
  padding-top: 0;
}

.parallax h1 {
  /* Text styling */
  color:#F58F96;
  font-family: 'Work Sans', 'Courier New', Courier, monospace;
  font-size: 15vw;
  font-style: normal;

  /* Text placement */
  text-align: center;
  line-height: 100vh;

  background-attachment: local;
  
  
}

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #005151;
  font-size: x-large;
  font-family: 'Work Sans', 'Courier New', Courier, monospace;
  position: sticky;
  top: 0;

}

ul.topnav li {float: left;}

ul.topnav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.topnav li a:hover:not(.active) {background-color: #111;}

ul.topnav li a.active {background-color: #37BE64;}

ul.topnav li.right {float: right;}

@media screen and (max-width: 600px) {
  ul.topnav li.right, 
  ul.topnav li {float: none;}
}

/* ----- Body Styling ----- */
body {
  max-width: 100%;
  height: auto;
  font-family: 'Work Sans', 'Courier New', Courier, monospace;
  text-align: center;
}

/* ----- Header and button container styling -----*/
.grid-container {
  padding: 10%;
  position: static;
  margin: 10vh;
}

/* ----- Button Styling ----- */
.container .grid-container .buttons{
  color: #130601;
  background-color: #D1F9F6;
  font-size: 2vw;
  font-family: 'Work Sans';
  border-radius: 100px;
  transition-duration: 0.3s;
  cursor: pointer;
  padding: 3%;
  width: 30vw;
  border: 0;
}

/* ----- Hover Effect on Buttons ----- */
.container .grid-container .buttons:hover{
  background-color: #FB9C74;
  color: #F9F1F1;
  font-size: 2.1vw;


}

/* ----- Spacing between middle button ----- */
#button-W {
  margin-top: 1%;
  margin-bottom: 1%;
  margin: 4vh;
}

/* grid styling to space buttons out a */
.grid-container{
  display: grid;
  grid-template-columns: auto;
}
