/* ----- background image styling ----- */
html { 
  background: url(/Images/bady-abbas-MDgRcuGYu58-unsplash.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* ----- nav bar styling ----- */
.header {
  overflow: hidden;
  background-color: #005151;
  padding: 20px 10px;
  top: 0%;
  border-radius: 10px;
}

/* ---- text styling for nav bar ---- */
.header a {
  float: left;
  color: #A2E4B8;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 125%; 
  line-height: 25px;
  border-radius: 4px;
  font-family: 'Work Sans', sans-serif;
}

.header a.logo {
  font-size: 150%;
  font-weight: bold;
}

.header a:hover {
  background-color: #ddd;
  color: black;
  border-radius: 50px;
}

.header-right {
  float: right;
  color: #003D52;
}

.header .nav_buttons {
  float: right;
  background-color: transparent;
  color: #A2E4B8;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 125%; 
  line-height: 25px;
  border-color: transparent;
  font-family: 'Work Sans', sans-serif;
}

.header .nav_buttons:hover {
  background-color: #ddd;
  color: black;
  border-radius: 50px;
}

/* ---- code to make the nav bar responsive ---- changes from horizontal to stacked when screen size is 500px or less */
@media screen and (max-width: 500px) {
  .header a{
    float: none;
    display: block;
    text-align: left;
    width: 100%;
  }
  
}

/* ----- body styling ----- */
body {
  max-width: 100%;
  height: auto;
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
}

/* ----- header and button container styling -----*/
.text-block {
  position: relative;
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 50px;
  
}

/* ----- button styling ----- */
.container .grid-container .buttons{
  color: #F9F1F1;
  background-color: #2D5181;
  font-size: 2vw;
  font-family: 'Work Sans';
  border-radius: 50px;
  border-color: black;
  transition-duration: 0.3s;
  cursor: pointer;
  padding: 3%;
  width: 30%;
}

/* ----- hover effect on buttons ----- */
.container .grid-container .buttons:hover{
  background-color: #6E92B4;
  color: black;
  font-size: 2.15vw;
  border-color: black;
}

/* ----- spacing between middle button ----- */
#button_W {
  margin-top: 1%;
  margin-bottom: 1%;
}

/* grid styling to space buttons out a */
.grid-container{
  display: grid;
  grid-template-columns: auto;
}

/* ----- title styling ----- */
h1 {
  color:#F9F1F1;
  font-family: 'Work Sans';
  font-size: 10vw;
  font-weight: 10%;
  margin: 0.5vw;
  margin-left: 1vw;
  margin-right: 1vw;
}

