ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #005151;
  font-size: x-large;
  font-family: 'Work Sans', 'Courier New', Courier, monospace;
  margin: 0;
  position: sticky;
  top: 0;
  z-index: 2;
}

ul.topnav li {float: left;}

ul.topnav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.topnav li a:hover:not(.active) {background-color: #111;}

ul.topnav li a.active {background-color: #37BE64;}

ul.topnav li.right {float: right;}

@media screen and (max-width: 600px) {
  ul.topnav li.right, 
  ul.topnav li {float: none;}
}

body {
    font-family: 'Work Sans', 'Courier New', Courier, monospace;
    margin: 0;
}

.p1
{
    text-align: center;
}

body {
  font-family: 'Work Sans','Courier New', Courier, monospace;
  margin: 0;
  background-color: whitesmoke;
}

.container {
grid-gap: 0;
display: grid;
align-content: center;
grid-template-columns: auto;
grid-gap: 1rem;
margin: 0;
}

.container .header h1{
text-align: center;
font-size: 10vh;
font-family: 'Work Sans', 'Courier New', Courier, monospace;
margin: 0;

}

.item {
text-align: left;
font-size: 1.5rem;
width: 100vw;
height: auto;
background-color: grey;
padding-left: 1%;
margin: 0;

}

.task_content {
margin: 1%;
}