body {
  background-color: rgb(0, 130, 139);
}
h1 {
  color: blue;
}
p {
  color: white;
}
#demoE { 
  background-color: red;
}
#demoM {
  background-color: lightgreen;
}
#demoW {
  background-color: limegreen;
}