body {
  background-color: darkblue;
}
h1 {
  color: blue;
}
p {
  color: white;
}
.demoE [style*="color: red"] { 
  color: firebrick !important;
}

.foo[style*="color: red"] { 
  color: firebrick !important;
}