
body {
  max-width: 100%;
  height: auto;
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
}
/* Container holding the image and the text */
.container {
  position: relative;
}
.container .text-block .buttons{
  color: #F9F1F1;
  background-color: #219EBC;
  font-size: 20px;
  font-family: 'Volkhov', serif;
}

/* Bottom right text */
.text-block {
  position: absolute;
  top: 50px;
  bottom: 50px;
  right: 500px;
  left: 500px;
  background-color: #EDF6F9;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  font-family: 'Balsamiq Sans', cursive;
}


h1 {
  
  color:#14342B;
  font-size: 75px;
  background-color: #8ECAE6;
}

p {
  color: black;
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
}


/* #demoE { 
  background-color: #A882DD;
  color: black;
  font-family: 'Times New Roman', Times, serif;
  font-size: 25px;

}
#demoM {
  background-color: #A882DD;
  color: black;
  font-family: 'Times New Roman', Times, serif;
  font-size: 25px;
}
#demoW {
  background-color: #A882DD;
  color: black;
  font-family: 'Times New Roman', Times, serif;
  font-size: 25px;
} */