<!DOCTYPE HTML>
<html>
    <head>
        <link rel="stylesheet" href="/CSS/about.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Work+Sans&display=swap" rel="stylesheet">
        <script src=page_2.js>
        </script>
        <title>About</title>
    </head>
    <script>

        function vistPage_About(){
                    window.location="/about"
        }
        function vistPage_Contact(){
            window.location="/contact"
        }
        function vistPage_Home(){
            window.location="/"
        }
        function vistPage_Support(){
            window.location="/support"
        }
        </script>

            <ul class="topnav">
                <li><a class="active" onclick="vistPage_Home()">Home</a></li>
                <li><a onclick="vistPage_Support()">Support</a></li>
                <li><a onclick="vistPage_Contact()">Contact</a></li>
                <li class="right"><a onclick="vistPage_About()">About</a></li>
            </ul>
        
            <body>
                    <div class="grid-container">
                        <div class="item1">
                            <h1>
                                About Us
                            </h1>
                        </div>
                        <div class="item2">2</div>
                        <div class="item3">3</div>
                        <div class="item4">4</div>
                        <div class="item5">5</div>
                        <div class="item6">6</div>
                        <div class="item7">7</div>
                    </div>
            </body>
        </html>