<!DOCTYPE HTML>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/CSS/app.css" />
        <link href="https://fonts.googleapis.com/css2?family=Work+Sans&display=swap" rel="stylesheet">
        <script src=index.js></script>
        <link rel="shortcut icon" type="image/x-icon" href="/Images/favicon.ico" />
        <title>Mentality</title>
    </head>
    <body>
        
      <script>
        function visitPage_Edu(){
          window.location="/education";
            }

           function vistPage_Med(){
             window.location="/meditation"
           } 
           function vistPage_Wri(){
             window.location="/writing"
           } 
           function vistPage_About(){
            window.location="/about"
           }
           function vistPage_Contact(){
             window.location="/contact"
           }
           function vistPage_Home(){
             window.location="/"
           }

            
      </script>
        

          
        <div class="header">
          
          <a class="logo" class="nav_buttons">SchoolLogo</a>
          <a class="nav_buttons" onclick="vistPage_About();">About</a>
          <a class="nav_buttons" onclick="vistPage_Contact();">Contact</a>
          <a class="nav_buttons" onclick="vistPage_Home();">Home</a>

        </div>

        <div class="container">
            <div class="text-block">
              <h1>Mentality</h1>
              <!-- <p>This is an app for mental health for all otumoetai students<br/> -->
             
                <button id="button_M" class="buttons", onclick="vistPage_Med();">Meditation</button>
                <button id="button_W" class="buttons", onclick="vistPage_Wri();"">Writing</button>
                <button id="button_E" class="buttons", onclick="visitPage_Edu();">Education</button>
                
              <h2>
                <script>
                for(var i =0; i < 3; i ++){
                'In our team we have people'}
                </script>
    
            </h2>
              
             </div> 
        </div>
      </p>
        
    </body>
</html>
