<!DOCTYPE HTML>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/CSS/home_page.css" />
        <link href="https://fonts.googleapis.com/css2?family=Work+Sans&display=swap" rel="stylesheet">
        <script src=index.js></script>
        <link rel="shortcut icon" type="image/x-icon" href="/Images/favicon.ico" />
        <title>Mentality</title>
    </head>
    <body>
        
      <script>
        function visitPage_Edu(){
          window.location="/education";
            }

           function vistPage_Med(){
             window.location="/meditation"
           } 
           function vistPage_Wri(){
             window.location="/writing"
           } 
           function vistPage_About(){
            window.location="/about"
           }
           function vistPage_Contact(){
             window.location="/contact"
           }
           function vistPage_Home(){
             window.location="/"
           }
           function vistPage_Support(){
             window.location="/support"
           }

            
      </script>
        

        <div class="parallax">
          <h1>Mentality</h1>
        </div>

          <div class="layer_1">
            
            <ul class="topnav">
              <li><a class="active" onclick="vistPage_Home()">Home</a></li>
              <li><a onclick="vistPage_Support()">Support</a></li>
              <li><a onclick="vistPage_Contact()">Contact</a></li>
              <li class="right"><a onclick="vistPage_About()">About</a></li>
            </ul>

            <div class="container">
              <div class="grid-container">
                <div class="grid-item">
                  <button id="button_M" class="buttons", onclick="vistPage_Med();">Meditation</button>
                </div>
                <div class="grid-item">
                  <button id="button_W" class="buttons", onclick="vistPage_Wri();"">Writing</button>
                </div>
                <div class="grid-item">
                  <button id="button_E" class="buttons", onclick="visitPage_Edu();">Education</button>
                </div> 
              
                  <h2>
                    <%=data.name[1]%>
                  </h2>
                  
                </div> 
            </div>
          </div>
          
        <div class="parallax"></div>
            
    </body>
</html>
