<!DOCTYPE HTML>
<html>
    <script type='text/javascript' src='app.js'></script>
    <head>
        <link rel="stylesheet" href="/CSS/meditation.css">
        <link href="https://fonts.googleapis.com/css2?family=Work+Sans&display=swap" rel="stylesheet">
        <link rel="shortcut icon" type="image/x-icon" href="/Images/water.svg" />
        
        <script scr=cookies.js src=page_2.js>
        </script>
        <title>Meditation</title>
    </head>
    <script>

        function vistPage_About(){
            window.location="/about" 
        }
        function vistPage_Contact(){
            window.location="/contact"
        }
        function vistPage_Support(){
             window.location="/support"
           }
        function vistPage_Home(){
            window.location="/"
        }
        function vistPage_Med_activity1(){
            window.location="/meditation/track1/60ca9ae73468902223f4d9ed"
        }
        function vistPage_Med_activity2(){
            window.location="/"
        }
        function vistPage_Med_activity3(){
            window.location="/"
        }

        function audiorefresh(){
            window.location.reload();
        }
      
       

  
                        
        </script>
        
            
        
            <body>
                <!--Navbar-->
                <ul class="topnav">
                    <li><a class="active" onclick="vistPage_Home()">Home</a></li>
                    <li><a onclick="vistPage_Support()">Support</a></li>
                    <li><a onclick="vistPage_Contact()">Contact</a></li>
                    <li class="right"><a onclick="vistPage_About()">About</a></li>
                  </ul>

                <div class="container">
                    
                    <!--Title of page-->
                    <div class="header">
                        <h1>Meditation</h1>
                        
                    </div>
                    
                    <!--Container for activity 1-->
                    <div class="item" id=task_1>
                        <div class="task_content">
                            <h2>Activity 1</h2>
                            <p>Text description of activity </p>
                            <label>Track 1:<br></br></label>
                            <audio controls id="audioplayer"  src="/meditation/track/60ca9ae73468902223f4d9ed"></audio>
                        </div>
                    </div>

                    <!--Container for activity 2-->
                    <div class="item" id=task_2>
                        <div class="task_content">
                            <h2>Activity 2</h2>
                            <p>Text description of activity</p>
                            <label>Track 2:<br></br></label>
                            <audio controls controlsList="nodownload" src="/meditation/track/60c917fc4eb93bc4a29964ba"></audio>
                        </div>    
                    </div>

                    <!--Container for activity 3-->
                    <div class="item" id="task_3">
                        <div class="task_content">
                            <h2>Activity 3</h2>
                            <p>Text description of activity</p>
                            <label>Track 3:<br></br></label>
                            <audio controls controlsList="nodownload" src="meditation/track/60ca9ae73468902223f4d9ed"></audio>
                        </div>
                    </div>

                    
                    <div>
          <script>
var player = document.getElementById("audioplayer");

function refresh(){
    player.play();
}

player.addEventListener("skip", (event) => {
    location.reload();
    refresh()
    
});

// player.addEventListener("click", (event) => {
// console.log('Video stopped either because 1) it was over, ' +
//     'or 2) no further data is available.');
// });
          </script>
                        
                    </div>
                </div>

            </body>
        </html>
