<!DOCTYPE HTML>
<html>
    <script type='text/javascript' src='app.js'></script>
    <head>
        <link rel="stylesheet" href="/CSS/mtrack1.css">
        <link href="https://fonts.googleapis.com/css2?family=Work+Sans&display=swap" rel="stylesheet">
        <script src=page_2.js>
        </script>
        <title>Meditation</title>
    </head>
    <script>

        function vistPage_About(){
                    window.location="/about"
        }
        function vistPage_Contact(){
            window.location="/contact"
        }
        function vistPage_Support(){
             window.location="/support"
           }
        function vistPage_Home(){
            window.location="/"
        }
        function vistPage_Med_track1(){
            window.location="/meditation/track1"
        }
        </script>
        
            
        
            <body>
                <ul class="topnav">
                    <li><a class="active" onclick="vistPage_Home()">Home</a></li>
                    <li><a onclick="vistPage_Support()">Support</a></li>
                    <li><a onclick="vistPage_Contact()">Contact</a></li>
                    <li class="right"><a onclick="vistPage_About()">About</a></li>
                  </ul>
                  
                    <h2>
                    Welcome to <%=data.track[0]%> </br>
                    <%=data.name[0]%>
                    </h2>

                <audio controls>
                    <source src="http://localhost:5050/meditation/track1" type="audio/mp3">
                    Your browser does not support the audio element.
                </audio>
            </body>
        </html>
