<!DOCTYPE HTML>
<html>
    <head>
        <link rel="stylesheet" href="/CSS/support.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Work+Sans&display=swap" rel="stylesheet">
        <script src=page_2.js>
        </script>
        <title>Support</title>
    </head>
    <script>

        function vistPage_About(){
            window.location="/about"
        }
        function vistPage_Contact(){
            window.location="/contact"
        }
        function vistPage_Home(){
            window.location="/"
        }
        </script>

            

    <body>
        <ul class="topnav">
            <li><a class="active" onclick="vistPage_Home()">Home</a></li>
            <li><a onclick="vistPage_Support()">Support</a></li>
            <li><a onclick="vistPage_Contact()">Contact</a></li>
            <li class="right"><a onclick="vistPage_About()">About</a></li>
        </ul>

        <div class="container">
            <div class="item" id="cell1">
                <div class="header">
                    <h1>Support</h1>
                </div>
            </div>
            <div class="item" id="cell2">
                <p class="description">
                    Below are additional resources. These websites will provide you with more information about mental health.
                </p>
            </div>
            <div class="item" id="cell3">
                <div class="sub-item">
                    <h1>Mental Health Foundation</h1>
                        <p>
                            <a class="link" href="https://mentalhealth.org.nz/" target="_blank">Website</a>
                        </p>
                </div>
            </div>
            <div class="item" id="cell4">
                <div class="sub-item">
                    <h1>Contact</h1>
                        <p>
                            <a class="link" href="https://mentalhealth.org.nz/" target="_blank">Website</a>
                        </p>
                </div>
            </div>
            <div class="item" id="cell5">
                <div class="sub-item">
                    <h1>Contact</h1>
                        <p>
                            <a class="link" href="https://mentalhealth.org.nz/" target="_blank">Website</a>
                        </p>
                </div>
            </div>
            <div class="item" id="cell6">
                <div class="sub-item">
                    <h1>Contact</h1>
                        <p>
                            <a class="link" href="https://mentalhealth.org.nz/" target="_blank">Website</a>
                        </p>
                </div>
            </div>
            <div class="item" id="cell7">
                <div class="sub-item">
                    <h1>Contact</h1>
                        <p>
                            <a class="link" href="https://mentalhealth.org.nz/" target="_blank">Website</a>
                        </p>
                </div>
            </div>
            <div class="item" id="cell8">
                <div class="sub-item">
                    <h1>Contact</h1>
                        <p>
                            <a class="link" href="https://mentalhealth.org.nz/" target="_blank">Website</a>
                        </p>
                </div>
            </div>
            <div class="item" id="cell9">
                <div class="sub-item">
                    <h1>Contact</h1>
                        <p>
                            <a class="link" href="https://mentalhealth.org.nz/" target="_blank">Website</a>
                        </p>
                </div>
            </div>
            <div class="item" id="cell10">
                <div class="sub-item">
                    <h1>Contact</h1>
                        <p>
                            <a class="link" href="https://mentalhealth.org.nz/" target="_blank">Website</a>
                        </p>
                </div>
            </div>
            <div class="item" id="cell11">
                <div class="sub-item">
                    <h1>Contact</h1>
                        <p>
                            <a class="link" href="https://mentalhealth.org.nz/" target="_blank">Website</a>
                        </p>
                </div>
            </div>
        </div>
    </body>
              
</html>