<!DOCTYPE HTML>
<html>
    <head>
        <link rel="stylesheet" href="/CSS/writing.css">
        <link href="https://fonts.googleapis.com/css2?family=Work+Sans&display=swap" rel="stylesheet">
        <script src=page_2.js>
        </script>
        <title>Writing</title>
    </head>
    <script>

        function vistPage_About(){
                    window.location="/about"
        }
        function vistPage_Contact(){
            window.location="/contact"
        }
        function vistPage_Home(){
            window.location="/"
        }
        </script>
        
            <ul class="topnav">
                <li><a class="active" onclick="vistPage_Home()">Home</a></li>
                <li><a>Support</a></li>
                <li><a onclick="vistPage_Contact()">Contact</a></li>
                <li class="right"><a onclick="vistPage_About()">About</a></li>
              </ul>
        
            <body>
            
                    </div>
                </div>
            </body>
        </html>